<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Data</title>
</head>
<body>
  <h1>User Data</h1>
  
  <ul>
    <li>User: <%= id %></li>
    <li>startDate: <%= startDate %></li>
    <li>endDate: <%= endDate %></li>
    <li>Sleep Score: <%= sleepScore %></li>
    <li>Environment:</li>
    <ul>
      <li>Temperature: <%= env.temparature %></li>
      <li>Humidity: <%= env.humidity %></li>
      <li>Illuminance: <%= env.illuminance %></li>
    </ul>
  </ul>

  <button onclick="back()">뒤로 가기</button>
</body>

<script>
      function back() {
        window.location.href = '<%= url %>' + "/user/" +'<%= id %>';
      }
</script>
</html>