<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= datas[0].id %> 님의 수면 데이터</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color:#fafafd;
  border:  1px solid black;
  color: rgba(121, 119, 119, 0.87);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color:#fafafd;
  border:  1px solid black;
  color: black;
}
</style>

</head>
<body>
  <style>
    @import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}
/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
h1 {
  text-align: center;
  font-size: 2.4em;
  color:  black;
}
.container {
  display: block;
  text-align: center;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}
  </style>
  
  <div class="container">
    <h1><%= datas[0].id %> 님의 수면 데이터</h1>
      <table class="rwd-table">
        <tbody>
          <tr>
            <th>Date</th>
            <th>Sleep Score</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Illuminance</th>
          </tr>
          <% for (var i = 0; i < datas.length; i++) { %>
            <tr>
              <td><%= datas[i].dateOfSleep %></td>
              <td><%= datas[i].sleepScore %></td>
              <td><%= datas[i].env.temparature %></td>
              <td><%= datas[i].env.humidity %></td>
              <td><%= datas[i].env.illuminance %></td>
            </tr>
          <% } %>
      </table>
    </div>
  <br>

  <button onclick="back()">홈으로</button>
</body>

<script>
      function back() {
        window.location.href = '<%= datas[0].url %>' + "/user/" +'<%= datas[0].id %>';
      }
</script>
</html>
