<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Data</title>
</head>
<body>
  <h1>User Data</h1>
  
  <ul>
    <% for (var i=0; i<datas.length; i++){ %>
    <li>날짜: <%= datas[i].endTime %></li>
    <!-- <li>User: <%= datas[i].id %></li> -->
    <li>Sleep Score: <%= datas[i].sleepScore %></li>
    <li>Environment:</li>
    <ul>
      <li>Temperature: <%= datas[i].env.temparature %></li>
      <li>Humidity: <%= datas[i].env.humidity %></li>
      <li>Illuminance: <%= datas[i].env.illuminance %></li>
    </ul>
    <br><br>
    <% } %>
  </ul>

  <button onclick="back()">뒤로 가기</button>
</body>

<script>
      function back() {
        window.location.href = '<%= datas[0].url %>' + "/user/" +'<%= datas[0].id %>';
      }
</script>
</html>